*{
    overflow: hidden;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
input{
    outline: none;
}
body{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/171.jpg);
    background-repeat: repeat;
}
header{
    margin: 0;
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 15%;
    width: 100%;
    background: rgba(0, 43, 160, 0.6);
    border-bottom: 2px solid rgba(0, 43, 160, 0.3);
}
section{
    display: flex;
    width: 100%;
    height: 85%;
}
.red{
    background: rgba(249, 86, 82, 0.8);
}
.green{
    background: rgba(0, 201, 0, 0.8)
}
.blue{
    background:rgba(154, 190, 248, 0.8);
}
.dflex{
    display: flex;
    align-items: center;
}
.logo img{
    width: 180px;
    height: 80px;
}
.date-time-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.time{
    color:#fff;
    font-weight: 600;
    font-size: 44px;
}
.date{
    color: #fff;
    font-weight: 600;
    font-size: 26px;
}
.city-block{
    width: 165px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cityText{
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 5px;
}
#cityChoice{
    position: relative;
    width: 100%;
    height: 35px;
    border-radius: 5px;
    background: #000f58d9;
    color: #fff;
    font-style: 18px;

}

aside{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;    margin: 0;
    height: 100%;
    width: 30%;
    background: rgba(80, 205, 211, 0.5);
    border-right: 3px solid rgba(154, 190, 248, 1.8);
}
.dateTable{
    position: relative;
    width: 90%;
    min-width: 220px ;
    padding: 5px;
    height: 175px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 30px 30px 30px 30px 30px ;
    row-gap: 5px;
    column-gap: 5px;
}
.dateTable--item{
    display: flex;
    justify-content: center;
    align-items: center;
    background:rgba(98, 157, 255, 0.5) ;
}
.main-buttons{
    padding: 5px;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: 220px;
    height: 42px;
    min-width: 100px;
    border-radius: 5px;
    letter-spacing: 0.04em;
    font-weight: 600;
    font-size: 22px;
    color: #fff;
    border: rgba(208, 253, 255, 0.5) 1px solid;
    transition: 0.2s linear;
}
.today-aims{
    background: rgba(208, 253, 255, 0.5);
    padding: 5px;
    border-radius: 5px;
    width: 90%;
}
#today-aims--headline{
    font-weight: 600;
    font-size: 20px;
    color: #333;
}
.indicator{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-right: 5px;
}
.content-block{
    width: 70%;
    height: 100%;
    background: rgba(208, 253, 255, .5);
    display: flex;
    flex-direction: column;
}

/* pop up block */

.addNewPopUp{
    position: absolute;
    z-index: 1;
    margin: 1%;
    height: 500px;
    min-width: 520px;
    width: 68%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(56, 0, 60, 0.8);
    border-radius: 5px;
    transition: 0.5 ease-in;
}
.addNewPopUp__plansName{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}
.addNewPopUp__plansName p {
    font-size: 22px;
    font-weight: 600;
    color: #fff
}
.addNewPopUp__plansName input{
    padding: 5px;
    width: 100%;
    height: 40px;   
    border: none;
    border-radius: 5px;
    color: #333;
    font-weight: 600;
    font-size: 20px;
}

.addNewPopUp__descriptionName {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 250px;
}
.addNewPopUp__descriptionName p{
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    margin: 24px 0 8px;
}
.addNewPopUp__descriptionName textarea{
    width: 100%;
    height: 200px;
    padding: 5px;
    resize: none;
    outline: none;
    border: none;
    border-radius: 5px;
    color: #333;
    font-size: 16px;
    font-weight: 600;
}

.addNewPopUp__setStatus{
    margin: 12px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
}

.addNewPopUp__addBtn:hover{
    background:rgba(98, 157, 255, 0.5) ;
}
.closeBtn{
    position: relative;
    top: 0px;
    align-self: flex-end;
    height: 17px;
    width: 40px;
    text-align: center;
    background: rgba(249, 86, 82, 0.8);
    color: #fff;
    border-radius: 0 5px 0 5px;
    transition: 0.1s linear;
}
.closeBtn:hover{
    background: rgb(250, 0, 0 );
    font-size: 14px;
}

/* plans block */
.content-block__plansList{
    position: relative;
    width: 100%;
    height: 100%;
    transition: 1s all linear; 
}

.plansList__plan{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    width: 96%;
    background: rgba(16, 106, 255, 0.8);
    margin: 5px auto;
    padding: 5px;
    border-radius: 5px;
    transition: 1s all linear; 
}
.plansList__plan p {
    margin: 3px;
    letter-spacing: 0.06em;
    cursor: default;
}
.plans-name{
    color: #fff;
    font-weight: 600;
    font-size: 18px;
}
.plans-description{
    color: #fff;
    font-size: 16px;
}
.plans__comandButtons{
    display: flex;
    align-self: flex-end;
}
.delete-pln-btn{
    font-size: 16px;
    width: 100px;
    height: 35px;
    opacity: .5;
    font-weight: 400;
    cursor: pointer;
}
.delete-pln-btn:hover{
    opacity: 1;
    background: rgba(249, 86, 82, 0.8);
}
.add-pln-btn{
    font-size: 16px;
    width: 100px;
    height: 35px;
    cursor: pointer;
}
.add-pln-btn:hover{
    background: rgba(0, 201, 0, 0.8);
}
.important-plan{
    background: linear-gradient(215deg, rgba(16, 106, 255, 0.8) 41%,rgba(249, 86, 82, 0.9));
}

.error{
    border-bottom: 2px solid rgb(249,86,82);
    transition: 0.1s ease-out;
}
#notice{
    color: rgb(249,86,82);
    font-size: 10px;
    padding: 0;
    margin: 0;
    align-self: flex-start;
}

/* weather block */
.weather{
    display: flex;
}
.weather p{
    margin: 5px;
    color: white;
    font-size: 22px;
    font-weight: 600;
}
#temperature-value{
    position: relative;
    right: 10px;
}
.weather-logo{
    width: 50px;
    height: 50px;
    margin: 5px; 
    background-size: contain;
}
.temperature,
.sky-state{
    display: flex;
    justify-content: center;
    align-items: center;
}
.temp-{
    background-image: url(../img/temperature-.png);
}
.tempPlus{
    background-image: url(../img/temperature.png);
}
.warm{
    background-image: url(../img/warm.png);
}
.cold{
    background-image: url(../img/cold-.png);
}
.storm{
    background-image: url(../img/storm.png);
}
.sun{
    background-image: url(../img/sun.png);
}
.moon{
    background-image: url(../img/moon.png);
}
.cloud{
    background-image: url(../img/cloud.png);
}
.rain{
    background-image: url(../img/rain.png);
}
.snow{
    background-image: url(../img/snow.png);
}
.cloudy{
    background-image: url(../img/cloudy.png);
}